/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* Variables */
:root {
  --deep-black: #191919;
  --white: #ffffff;
}

/* Global Settings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
  color: var(--white);
  background-color: var(--deep-black);
}

header {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

main {
  margin-top: 5rem;
  margin-bottom: 30rem;
  padding-inline: 6rem;
}

main #nav nav {
  display: flex;
  justify-content: center;
}

main #nav nav span {
  font-size: 2rem;
  color: var(--white);
}

main #nav nav a {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 2rem;
  color: var(--white);
  text-decoration: none;
}

main #nav nav a:hover {
  text-decoration: underline;
}

#description {
  margin-top: 3rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  text-align: center;
}

main #index {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main #index h1 {
  margin-bottom: 2rem;
  font-size: 2.6rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

main #index hr {
  width: 100%;
  border: 0.1rem solid var(--white);
}

main #index h2 {
  margin-top: 3rem;
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

main #index #index-button-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

main #index .index-button a {
  width: 18.5rem;
  height: 8.1rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  border: 0.3rem solid var(--white);
  align-items: center;
  text-decoration: none;
  color: var(--white);
  font-size: 1.3rem;
  border-radius: 1rem;
  text-align: center;
}

main #index .index-button a:hover {
  color: var(--deep-black);
  background-color: var(--white);
}

/* Media Breaks */
@media only screen and (min-width: 768px) {
  header {
    display: block;
    padding-left: 10rem;
  }

  main {
    margin-top: 10rem;
    padding-inline: 10rem;
  }

  main #nav nav {
    display: block;
  }

  #description {
    text-align: left;
  }

  main #index #index-button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }

  main #index {
    display: block;
  }
}
