/*------ fonts -------*/
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

/* 
// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 200 to 800

.karla-<uniquifier> {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

/*------ variables -------*/

:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --blue: hsl(228, 45%, 44%);
}

/*------ settings -------*/

/*------ main -------*/

/*------ classes -------*/

/*------ footer -------*/

footer .attribution {
  font-size: 1.3rem;
  text-align: center;
  color: black;
}
footer .attribution a {
  color: var(--blue);
}

/*------ media query -------*/
