/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

/* Variables */
:root {
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
  --light-slate-blue-background: hsl(252, 100%, 67%);
  --light-royal-blue-background: hsl(241, 81%, 54%);
  --violet-blue-circle: hsla(256, 72%, 46%, 1);
  --persian-blue-circle: hsla(241, 72%, 46%, 0);
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

/* Global Settings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 500;
  text-decoration: none;
}
html {
  font-size: 62.5%;
}

body {
  background-color: var(--persian-blue-circle);
}

main #results-component {
  height: 100vh;
  margin-bottom: 8rem;
}

/* Main */
main #results-component #results-component__container {
  width: auto;
  height: auto;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
}

main
  #results-component
  #results-component__container
  #results-component__score {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.6rem;
  text-align: center;
  background: linear-gradient(
    180deg,
    var(--light-slate-blue-background) 0%,
    var(--light-royal-blue-background) 100%
  );
  border-radius: 0 0 3rem 3rem;
}

main
  #results-component
  #results-component__container
  #results-component__score
  h2 {
  margin-bottom: 1rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--light-lavender);
}

main
  #results-component
  #results-component__container
  #results-component__score
  #results-component__score-result {
  height: 13rem;
  width: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: linear-gradient(
    180deg,
    var(--violet-blue-circle) 0%,
    var(--persian-blue-circle) 100%
  );
}

/* score results */
main
  #results-component
  #results-component__container
  #results-component__score
  #results-component__score-result
  h1 {
  margin-top: 1.5rem;
  font-size: 5rem;
  font-weight: 900;
  color: var(--white);
}
/* score results /100 */
main
  #results-component
  #results-component__container
  #results-component__score
  #results-component__score-result
  p {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--light-lavender);
  opacity: 0.6;
}

/* Score text header */
main
  #results-component
  #results-component__container
  #results-component__score
  h3 {
  margin-top: 1rem;
  font-size: 2.3rem;
  font-weight: 700;
  color: var(--white);
}

/* Score text */
main
  #results-component
  #results-component__container
  #results-component__score
  p {
  margin-bottom: 2rem;
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--light-lavender);
  opacity: 0.8;
}

main
  #results-component
  #results-component__container
  #results-component__score
  #results-component__score-text {
  font-size: 1.5rem;
  padding-inline: 5rem;
}

main .results-component__summary__score {
  font-size: 1.4rem;
  color: var(--dark-gray-blue);
}

main .results-component__summary__score span {
  color: var(--white);
}

/* General summary styles */

main
  #results-component
  #results-component__container
  #results-component__summary {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 3rem;
  background-color: var(--white);
}

main
  #results-component
  #results-component__container
  #results-component__summary
  #results-component__summary-reaction,
#results-component__summary-memory,
#results-component__summary-verbal,
#results-component__summary-visual,
.results-component__summary__label,
.results-component__summary__score {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/* Summary header */
main
  #results-component
  #results-component__container
  #results-component__summary
  h4 {
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--dark-gray-blue);
}

main
  #results-component
  #results-component__container
  #results-component__summary
  #results-component__summary-reaction,
#results-component__summary-memory,
#results-component__summary-verbal,
#results-component__summary-visual {
  height: 5rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
}

/* Summary score */

main
  #results-component
  #results-component__container
  #results-component__summary
  .results-component__summary__score
  p {
  font-size: 1.5rem;
  color: var(--dark-gray-blue);
  font-weight: 900;
}

/* Summary Score /100 */

main
  #results-component
  #results-component__container
  #results-component__summary
  .results-component__summary__score
  span {
  font-size: 1.5rem;
  color: var(--dark-gray-blue);
  font-weight: 800;
  opacity: 0.6;
}

/* Summary categories */
main
  #results-component
  #results-component__container
  #results-component__summary,
.results-component__summary__label-name {
  font-size: 1.5rem;
}

/* Reaction styles */

main
  #results-component
  #results-component__container
  #results-component__summary
  #results-component__summary-reaction {
  background-color: hsla(0, 100%, 67%, 5%);
}

main
  #results-component
  #results-component__container
  #results-component__summary
  #results-component__summary-reaction
  .results-component__summary__label
  p {
  color: var(--light-red);
  font-weight: 700;
}

/* Memory style */

main
  #results-component
  #results-component__container
  #results-component__summary
  #results-component__summary-memory {
  background-color: hsla(39, 100%, 56%, 5%);
}

main
  #results-component
  #results-component__container
  #results-component__summary
  #results-component__summary-memory
  .results-component__summary__label
  p {
  color: var(--orangey-yellow);
  font-weight: 700;
}

/* Verbal styles */

main
  #results-component
  #results-component__container
  #results-component__summary
  #results-component__summary-verbal {
  background-color: hsla(166, 100%, 37%, 5%);
}

main
  #results-component
  #results-component__container
  #results-component__summary
  #results-component__summary-verbal
  .results-component__summary__label
  p {
  color: var(--green-teal);
  font-weight: 700;
}

/* Visual Styles */
main
  #results-component
  #results-component__container
  #results-component__summary
  #results-component__summary-visual {
  background-color: hsla(234, 85%, 45%, 5%);
}

main
  #results-component
  #results-component__container
  #results-component__summary
  #results-component__summary-visual
  .results-component__summary__label
  p {
  color: var(--cobalt-blue);
  font-weight: 700;
}

/* Primary button */
#results-component
  #results-component__container
  #results-component__summary
  #results-component__summary-btn {
  width: 100%;
  height: 5.5rem;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-gray-blue);
  border-radius: 3rem;
}
#results-component
  #results-component__container
  #results-component__summary
  #results-component__summary-btn:hover {
  background: linear-gradient(
    180deg,
    var(--light-slate-blue-background) 0%,
    var(--violet-blue-circle) 100%
  );
}

#results-component
  #results-component__container
  #results-component__summary
  #results-component__summary-btn
  a {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--white);
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media Query */
@media (min-width: 640px) {
  main #results-component {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
  }
  main #results-component #results-component__container {
    width: 73.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 3rem;
    box-shadow: 0.5rem 1.5rem 3rem 1rem var(--pale-blue);
  }
  main
    #results-component
    #results-component__container
    #results-component__score {
    border-radius: 3rem;
  }

  main
    #results-component
    #results-component__container
    #results-component__score
    h2 {
    margin-bottom: 2rem;
    font-size: 2.2rem;
  }

  main
    #results-component
    #results-component__container
    #results-component__score
    #results-component__score-result {
    height: 17rem;
    width: 17rem;
  }

  /* score results */
  main
    #results-component
    #results-component__container
    #results-component__score
    #results-component__score-result
    h1 {
    font-size: 6.5rem;
    font-weight: 700;
  }

  /* Score text header */
  main
    #results-component
    #results-component__container
    #results-component__score
    h3 {
    margin-top: 1.5rem;
    font-size: 2.8rem;
    font-weight: 500;
  }

  /* Score text */
  main
    #results-component
    #results-component__container
    #results-component__score
    p {
    margin-bottom: 2rem;
  }

  main
    #results-component
    #results-component__container
    #results-component__score {
    padding: 2.5rem;
  }

  main
    #results-component
    #results-component__container
    #results-component__summary {
    border-radius: 3rem;
    padding-inline: 4rem;
  }

  /* Summary header */
  main
    #results-component
    #results-component__container
    #results-component__summary
    h4 {
    margin-top: 3rem;
    font-size: 2rem;
  }
}
