/* Global */

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 500;
  text-decoration: none;
  background-color: hsla(241, 72%, 46%, 0);
}

.results-component {
  height: 100vh;
  display: flex;
  align-items: center;
}

/* Main */
.results-component__container {
  width: fit-content;
  height: fit-content;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
}

.results-component__score {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.6rem;
  text-align: center;
  background: linear-gradient(
    180deg,
    hsl(252, 100%, 67%) 0%,
    hsl(241, 81%, 54%) 100%
  );
  border-radius: 0 0 3rem 3rem;
}

.results-component__score h2 {
  margin-bottom: 1rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: hsl(241, 100%, 89%);
}

.results-component__score-result {
  height: 13rem;
  width: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: linear-gradient(
    180deg,
    hsla(256, 72%, 46%, 1) 0%,
    hsla(241, 72%, 46%, 0) 100%
  );
}

/* score results */
.results-component__score-result h1 {
  margin-top: 1.5rem;
  font-size: 5rem;
  font-weight: 900;
  color: hsl(0, 0%, 100%);
}

/* score results /100 */
.results-component__score-result p {
  font-size: 1.5rem;
  font-weight: 500;
  color: hsl(241, 100%, 89%);
  opacity: 0.6;
}

/* Score text header */
.results-component__score h3 {
  margin-top: 1rem;
  font-size: 2.3rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

/* Score text */
.results-component__text {
  margin-bottom: 2rem;
  font-size: 1.3rem;
  font-weight: 400;
  color: hsl(241, 100%, 89%);
  opacity: 0.8;
}

.results-component__score-text {
  font-size: 1.3rem;
  padding-inline: 5rem;
  font-weight: 400;
  color: hsl(241, 100%, 89%);
  opacity: 0.8;
}

.results-component__summary__score {
  font-size: 1.4rem;
  color: hsl(224, 30%, 27%);
}

.results-component__summary__score span {
  color: hsl(0, 0%, 100%);
}

/* General summary styles */

.results-component__summary {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 3rem;
  background-color: hsl(0, 0%, 100%);
}

.results-component__summary-reaction,
.results-component__summary-memory,
.results-component__summary-verbal,
.results-component__summary-visual,
.results-component__summary__label,
.results-component__summary__score {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/* Summary header */
.results-component__summary h4 {
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 800;
  color: hsl(224, 30%, 27%);
}

.results-component__summary-reaction,
.results-component__summary-memory,
.results-component__summary-verbal,
.results-component__summary-visual {
  height: 5rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
}

/* Summary score */

.results-component__summary__score p {
  font-size: 1.5rem;
  color: hsl(224, 30%, 27%);
  font-weight: 900;
}

/* Summary Score /100 */

.results-component__summary__score span {
  font-size: 1.5rem;
  color: hsl(224, 30%, 27%);
  font-weight: 800;
  opacity: 0.6;
}

/* Summary categories */
.results-component__summary,
.results-component__summary__label-name {
  font-size: 1.5rem;
}

/* Reaction styles */

.results-component__summary-reaction {
  background-color: hsla(0, 100%, 67%, 5%);
}

.results-component__summary-reaction .results-component__summary__label p {
  color: hsl(0, 100%, 67%);
  font-weight: 700;
}

/* Memory style */

.results-component__summary-memory {
  background-color: hsla(39, 100%, 56%, 5%);
}

.results-component__summary-memory .results-component__summary__label p {
  color: hsl(39, 100%, 56%);
  font-weight: 700;
}

/* Verbal styles */

.results-component__summary-verbal {
  background-color: hsla(166, 100%, 37%, 5%);
}

.results-component__summary-verbal .results-component__summary__label p {
  color: hsl(166, 100%, 37%);
  font-weight: 700;
}

/* Visual Styles */
.results-component__summary-visual {
  background-color: hsla(234, 85%, 45%, 5%);
}

.results-component__summary-visual .results-component__summary__label p {
  color: hsl(234, 85%, 45%);
  font-weight: 700;
}

/* Primary button */
.results-component__summary-btn {
  width: 100%;
  height: 5.5rem;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(224, 30%, 27%);
  border-radius: 3rem;
}
.results-component__summary-btn:hover {
  background: linear-gradient(
    180deg,
    hsl(252, 100%, 67%) 0%,
    hsla(256, 72%, 46%, 1) 100%
  );
}

.results-component__summary-btn a {
  font-size: 1.8rem;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
}

/* Footer */

.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 1.1rem;
  text-align: center;
}

.attribution a {
  text-decoration: underline;
  color: hsl(228, 45%, 44%);
}

/* Media Query */
@media (min-width: 640px) {
  .results-component {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
  }
  .results-component__container {
    width: 73.6rem;
    height: 52rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 3rem;
    box-shadow: 0.5rem 1.5rem 3rem 1rem hsl(221, 100%, 96%);
  }
  .results-component__score {
    border-radius: 3rem;
  }
  .results-component__score h2 {
    margin-bottom: 2rem;
    font-size: 2.2rem;
  }

  .results-component__score-result {
    height: 20rem;
    width: 20rem;
  }

  /* score results */
  .results-component__score-result h1 {
    font-size: 6.5rem;
    font-weight: 700;
  }

  /* Score text header */
  .results-component__score h3 {
    margin-top: 1.5rem;
    font-size: 2.8rem;
    font-weight: 500;
  }

  /* Score text */
  .results-component__text {
    margin-bottom: 2rem;
  }
  .results-component__score {
    padding: 4rem;
  }

  .results-component__score-text {
    margin-top: 3rem;
    font-size: 2rem;
    padding-inline: 1.5rem;
    font-weight: 400;
    color: hsl(241, 100%, 89%);
    opacity: 0.8;
  }

  .results-component__summary {
    border-radius: 3rem;
    padding-inline: 4rem;
    gap: 2rem;
  }

  /* Summary header */
  .results-component__summary h4 {
    margin-top: 3rem;
    font-size: 2rem;
  }

  /* Summary score */

  .results-component__summary__score p {
    font-size: 2rem;
  }

  /* Summary Score /100 */

  .results-component__summary__score span {
    font-size: 2rem;
  }
  /* Summary categories */
  .results-component__summary,
  .results-component__summary__label-name {
    font-size: 2rem;
  }

  .results-component__summary-reaction,
  .results-component__summary-memory,
  .results-component__summary-verbal,
  .results-component__summary-visual {
    height: 6rem;
  }
  .results-component__summary h4 {
    margin-top: 5rem;
    font-size: 2.4rem;
  }
}
