body {
  height: 100vh;

  background-image: url("./images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsl(257, 40%, 49%);

  color: white;
}

/*------ header -------*/

.header {
  padding-block: 2.3rem;
  padding-inline: 3.4rem;
}

.header__logo {
  max-width: 13rem;
  height: auto;
}

/*------ main -------*/

main {
  padding-top: 3rem;
}

.hero-image {
  padding-inline: 3.7rem;
}

.hero-image__img {
  width: 100%;
  height: auto;
}

.content {
  margin-top: 6rem;
  padding-inline: 3.5rem;
  text-align: center;
}

.content__header {
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.5rem;
}

.content__text {
  margin-top: 1.6rem;

  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-wrap: pretty;
}

.content__button {
  max-width: 20rem;

  margin: 0 auto;
  margin-top: 2.4rem;
  display: block;
  padding-block: 1.3rem;

  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  color: hsl(257, 40%, 49%);

  background-color: white;
  border-radius: 100rem;
  box-shadow: 0.2rem 0.3rem 0.5rem hsla(300, 29%, 17%, 50%);
}

.content__button--hover:hover {
  color: white;
  background-color: hsl(300, 69%, 71%);
}

footer {
  margin-block: 6rem;
}

.social {
  display: flex;
  justify-content: center;
  gap: 0.7em;
}

.social__icon {
  width: 2.8rem;
  height: 2.8rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0.1rem solid white;
  border-radius: 50rem;
}

.social__icon--hover:hover {
  color: hsl(300, 69%, 71%);
  border: 0.1rem solid hsl(300, 69%, 71%);
}

/*------ footer -------*/

.attribution {
  font-size: 1rem;
  text-align: center;
  color: black;
}
.attribution__link {
  color: hsl(228, 45%, 44%);
}

/*------ media query -------*/

@media (min-width: 768px) {
  body {
    height: 100vh;
    background-image: url("./images/bg-desktop.svg");
    background-size: cover;
  }

  .header {
    padding-block: 6rem;
    padding-inline: 6rem;
  }

  /*------ header/desktop -------*/
  .header__logo {
    max-width: 35rem;
  }

  /*------ main/desktop -------*/

  main {
    padding-inline: 3rem;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
  }
  .content {
    margin-top: 0;
    padding-inline: 0;
    padding-right: 5rem;
    text-align: left;
  }
  .content__header {
    font-size: 3rem;
    line-height: 5rem;
  }

  .content__text {
    margin-top: 2rem;

    font-size: 1.4rem;
    line-height: 2.5rem;
  }

  .content__button {
    max-width: 16rem;

    margin: 0;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 1.4rem;
    font-size: 1.4rem;
  }

  footer {
    margin-block: 2rem;
  }

  .social {
    padding-right: 10rem;
    justify-content: flex-end;
    gap: 0.7em;
  }

  .social__icon {
    width: 2.8rem;
    height: 2.8rem;

    border: 0.1rem solid white;
    border-radius: 50rem;
  }
}
