/*------ fonts -------*/
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap");

/* 
// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900

.big-shoulders display-<uniquifier> {
  font-family: "Big Shoulders Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900

.lexend-deca-<uniquifier> {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/
/*------ variables -------*/
:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
  --blue: hsl(228, 45%, 44%);
}
/*------ globals -------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lexend Deca", sans-serif;
  color: var(--transparent-white);
  background-color: var(--very-light-gray);
}

/*------ main -------*/

main #card-carsTypes__container {
  margin-block: 8.8rem;
  padding-inline: 2.4rem;

  display: flex;
  flex-direction: column;
}

/* sedans */

main #card-carsTypes__container #card-carsTypes__sedans {
  background-color: var(--bright-orange);
  border-radius: 0.8rem 0.8rem 0 0;
}

main #card-carsTypes__container #card-carsTypes__sedans a {
  color: var(--bright-orange);
}


/* SUVs */

main #card-carsTypes__container #card-carsTypes__suvs {
  background-color: var(--dark-cyan);
}

main #card-carsTypes__container #card-carsTypes__suvs a {
  color: var(--dark-cyan);
}

/* luxury */

main #card-carsTypes__container #card-carsTypes__luxury {
  background-color: var(--very-dark-cyan);
  border-radius: 0 0 0.8rem 0.8rem;
}

main #card-carsTypes__container #card-carsTypes__luxury a {
  color: var(--very-dark-cyan);
}

/*------ classes ------*/

main .card-carsTypes-column {
  height: 44rem;
  padding: 4.85rem;
}

/* classes__headers */

main .card-carsTypes-headers {
  margin-top: 3.3rem;

  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  text-transform: uppercase;
}

/* classes__texts */
main .card-carsTypes-texts {
  max-width: 40rem;
  margin-top: 2.5rem;

  font-size: 1.5rem;
  line-height: 2.5rem;
  text-wrap: balance;
}

/* classes__buttons */
main .card-carsTypes-buttons {
  width: 14.5rem;
  height: 4.8rem;
  margin-top: 2.3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  font-weight: 400;

  background-color: var(--very-light-gray);
  border-radius: 5rem;
}

/*------ interactions -------*/

main #card-carsTypes__container #card-carsTypes__sedans a:hover {
  color: var(--transparent-white);
}

main #card-carsTypes__container #card-carsTypes__suvs a:hover {
  color: var(--transparent-white);
}

main #card-carsTypes__container #card-carsTypes__luxury a:hover {
  color: var(--transparent-white);
}

main .card-carsTypes-buttons:hover {
  background-color: transparent;
  border: 0.3rem solid white;
}

/*------ footer -------*/

footer .attribution {
  font-size: 1.3rem;
  text-align: center;
  color: black;
}
footer .attribution a {
  color: var(--blue);
}

/*------ Media queries -------*/
@media (min-width: 640px) {
  /*------ main/desktop -------*/

main {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

  main #card-carsTypes__container {
    margin-block: 0;
    padding-inline: 26rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  /* sedans/desktop */

  main #card-carsTypes__container #card-carsTypes__sedans {
    background-color: var(--bright-orange);
    border-radius: 0.8rem 0 0 0.8rem;
  }

  /* SUVs/desktop */

  main #card-carsTypes__container #card-carsTypes__suvs {
    background-color: var(--dark-cyan);
  }

  /* luxury/desktop */

  main #card-carsTypes__container #card-carsTypes__luxury {
    background-color: var(--very-dark-cyan);
    border-radius: 0 0.8rem 0.8rem 0;
  }

  /*------ classes ------*/

  main .card-carsTypes-column {
    height: auto;
    padding: 4.85rem;
  }

  /* classes__buttons/desktop */
  main .card-carsTypes-buttons {
    margin-top: 8rem;
  }

  main .card-carsTypes-texts {
    max-width: 15em;
    min-width: 10em;
    font-weight: 300;
  }
}
