/*------ globals -------*/

body {
  font-family: "Lexend Deca", sans-serif;
  color: hsla(0, 0%, 100%, 0.75);

  background-color: hsl(0, 0%, 95%);
}

/*------ main -------*/
.card-carsTypes__container {
  margin-block: 8.8rem;
  padding-inline: 2.4rem;

  display: flex;
  flex-direction: column;
}

/* sedans */

.card-carsTypes__sedans {
  background-color: hsl(31, 77%, 52%);
  border-radius: 0.8rem 0.8rem 0 0;
}

.card-carsTypes__sedans a {
  color: hsl(31, 77%, 52%);
}

/* SUVs */

.card-carsTypes__suvs {
  background-color: hsl(184, 100%, 22%);
}

.card-carsTypes__suvs a {
  color: hsl(184, 100%, 22%);
}

/* luxury */

.card-carsTypes__luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 0 0.8rem 0.8rem;
}

.card-carsTypes__luxury a {
  color: hsl(179, 100%, 13%);
}

/*------ classes ------*/

.card-carsTypes-column {
  height: 44rem;
  padding: 4.85rem;
}

/* classes__headers */

.card-carsTypes-headers {
  margin-top: 3.3rem;

  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  text-transform: uppercase;
}

/* classes__texts */
.card-carsTypes-texts {
  max-width: 40rem;
  margin-top: 2.5rem;

  font-size: 1.5rem;
  line-height: 2.5rem;
  text-wrap: balance;
}

/* classes__buttons */
.card-carsTypes-buttons {
  width: 14.5rem;
  height: 4.8rem;
  margin-top: 2.3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  font-weight: 400;

  background-color: hsl(0, 0%, 95%);
  border-radius: 5rem;
}

/*------ interactions -------*/

.card-carsTypes__sedans a:hover {
  color: hsla(0, 0%, 100%, 0.75);
}

.card-carsTypes__suvs a:hover {
  color: hsla(0, 0%, 100%, 0.75);
}

.card-carsTypes__luxury a:hover {
  color: hsla(0, 0%, 100%, 0.75);
}

.card-carsTypes-buttons:hover {
  background-color: transparent;
  border: 0.3rem solid hsla(0, 0%, 100%, 0.75);
}

/* Footer */

.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 1.1rem;
  text-align: center;
  color: hsl(228, 45%, 44%);
}

.attribution a {
  text-decoration: underline;
}

/*------ Media queries -------*/
@media (min-width: 640px) {
  /*------ main/desktop -------*/

  main {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-carsTypes__container {
    margin-block: 0;
    padding-inline: 26rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  /* sedans/desktop */

  .card-carsTypes__sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 0.8rem 0 0 0.8rem;
  }

  /* SUVs/desktop */

  .card-carsTypes__suvs {
    background-color: hsl(184, 100%, 22%);
  }

  /* luxury/desktop */

  .card-carsTypes__luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0.8rem 0.8rem 0;
  }

  /*------ classes ------*/

  .card-carsTypes-column {
    height: auto;
    padding-block: 4.85rem;
    padding-left: 4.85rem;
    padding-right: 3rem;
  }

  /* classes__buttons/desktop */
  .card-carsTypes-buttons {
    margin-top: 8rem;
  }

  .card-carsTypes-texts {
    max-width: 20em;
    min-width: 10em;
    font-weight: 100;
    line-height: 3rem;
  }
}
