/* Global */
body {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  color: hsl(229, 23%, 23%);
  background-color: hsl(185, 75%, 39%);
  overflow: hidden;
}

/* Main */
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-inline: 2.5rem;
}

.card {
  max-width: 35rem;
  min-width: 32.5rem;
  position: relative;
  background-color: white;
  border-radius: 1.3rem;
  box-shadow: 0 2.5rem 6rem 0.5rem hsl(229, 23%, 23%, 30%);
}

.card-pattern img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.card-profile-img {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-profile-img img {
  border-radius: 100%;
  border: 0.6rem solid white;
}

.card-content {
  margin-top: 7rem;
  text-align: center;
}

.card-content h1 {
  font-size: 1.8rem;
  font-weight: 800;
}

.card-content span {
  margin-left: 0.5rem;
  font-weight: 400;
  color: hsl(227, 10%, 46%);
}

.card-content h2 {
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: hsl(227, 10%, 46%);
}

.card-content hr {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  border: 0.001rem solid hsl(227, 10%, 46%);
  opacity: 0.1;
}

.card-data {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5.3rem;
}

.card-data-followers,
.card-data-likes,
.card-data-photos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-data-followers b,
.card-data-likes b,
.card-data-photos b {
  font-size: 1.9rem;
  font-weight: 700;
}

.card-data-followers p,
.card-data-likes p,
.card-data-photos p {
  margin-top: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: hsl(0, 0%, 59%);
}

/* Background */
.bg-top {
  height: 97.8rem;
  width: 97.8rem;
  position: absolute;
  top: -30%;
  left: -200%;
  background-image: url("./assets/images/bg-pattern-top.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-bottom {
  height: 97.8rem;
  width: 97.8rem;
  position: absolute;
  top: 44%;
  left: 40%;
  background-image: url("./assets/images/bg-pattern-bottom.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* Footer */

.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 1.1rem;
  text-align: center;
}

.attribution a {
  text-decoration: underline;
  color: hsl(228, 45%, 44%);
}

@media (min-width: 640px) {
  footer {
    left: 37%;
  }
  .bg-top {
    top: -70%;
    left: -98%;
  }
  .bg-bottom {
    top: 50%;
    left: 45%;
  }
}
@media (min-width: 768px) {
  footer {
    left: 35%;
  }
  .bg-top {
    top: -65%;
    left: -55%;
  }
  .bg-bottom {
    top: 50%;
    left: 45%;
  }
}
@media (min-width: 1024px) {
  footer {
    left: 42%;
  }
  .bg-top {
    top: -26rem;
    left: -28rem;
  }
  .bg-bottom {
    top: 51%;
    left: 48%;
  }
}
