/* Global */
body {
  font-family: "Outfit", sans-serif;
  color: hsl(30, 10%, 34%);

  background-color: hsl(30, 54%, 90%);
}

/*------- main -------*/

/* Sections-headers */
.card-recipe__section-header {
  margin-bottom: 2rem;

  font-family: "Young Serif", serif;
  font-size: 2.8rem;
  font-weight: 500;
  color: hsl(14, 45%, 36%);
}
.card-recipe__text {
  margin-top: 2.2rem;

  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

/* recipe-container__list-global-settings */
main li::marker {
  color: hsl(14, 45%, 36%);
  font-size: 1.2rem;
}

/* recipe-container */
main #card-recipe__container {
  background-color: white;
}

/* recipe-image */
main #card-recipe__container #card-recipe__image img {
  width: 100%;
}

main #card-recipe__container #card-recipe__description {
  padding: 3.2rem;
}

/* main-info__header */
main #card-recipe__container #card-recipe__description h1 {
  margin-top: 0.5rem;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 3.7rem;
  color: hsl(24, 5%, 18%);
  font-family: "Young Serif", serif;
}

/* main-info__paragraph */
main #card-recipe__container #card-recipe__description p {
  /* margin-top: 2.2rem;

  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem; */
}

/* preparation-time__container */
main #card-recipe__container #card-recipe__preparation {
  margin-bottom: 2.5rem;
  margin-inline: 3.2rem;
  padding-inline: 2.3rem;

  background-color: hsl(330, 100%, 98%);
  border-radius: 1rem;
}

/* preparation-time__header */
main #card-recipe__container #card-recipe__preparation h2 {
  padding-top: 2rem;

  font-size: 2rem;
  color: hsl(332, 51%, 32%);
}

/* preparation-time__list */
main #card-recipe__container #card-recipe__preparation ul {
  padding-top: 1.5rem;
  padding-inline: 2rem;
  padding-bottom: 1.1rem;
}

main #card-recipe__container #card-recipe__preparation ul li {
  padding-left: 2.2rem;
  margin-bottom: 1rem;
}

main #card-recipe__container #card-recipe__preparation ul li span,
b {
  font-size: 1.6rem;
}

main #card-recipe__container #card-recipe__preparation ul li span {
  line-height: 2.4rem;
}

/* ingredients__container */
main #card-recipe__container #card-recipe__ingredients {
  padding-inline: 3.2rem;
}

/* ingredients__list */
main #card-recipe__container #card-recipe__ingredients ul {
  padding-inline: 2.1rem;
}

main #card-recipe__container #card-recipe__ingredients ul li {
  margin-bottom: 1rem;
  padding-left: 1.9rem;

  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
}

/* hr */
main hr {
  margin-inline: 3rem;
  margin-block: 3rem;
  border: 0.001rem solid hsl(30, 18%, 87%);
}

/* instructions__container */

main #card-recipe__container #card-recipe__instructions {
  margin-inline: 3rem;
}

main #card-recipe__container #card-recipe__instructions ol {
  padding-inline: 1.3rem;
}

main #card-recipe__container #card-recipe__instructions ol li {
  margin-bottom: 1rem;
  padding-left: 1.7rem;

  font-size: 1.6rem;
  line-height: 2.3rem;
}

main #card-recipe__container #card-recipe__instructions ol li::marker {
  color: hsl(14, 45%, 36%);
  font-size: 1.6rem;
  font-weight: 600;
}

/* nutrition__container */
main #card-recipe__container #card-recipe__nutrition {
  padding-inline: 3.2rem;
}

main #card-recipe__container #card-recipe__nutrition P {
  padding-right: 1rem;
}

/* nutrition__table */
main #card-recipe__container #card-recipe__nutrition table {
  width: 100%;
  margin-top: 2rem;

  border-collapse: collapse;
}

main #card-recipe__container #card-recipe__nutrition th {
  width: 16rem;
  padding-left: 3rem;

  font-weight: 400;
}

main #card-recipe__container #card-recipe__nutrition td {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}

main #card-recipe__container #card-recipe__nutrition th,
td {
  padding-bottom: 1.2rem;
  padding-top: 1.2rem;

  font-size: 1.6rem;
  text-align: left;
}

.bottom-line {
  border-bottom: 0.1rem solid hsl(30, 18%, 87%);
  border-collapse: collapse;
}

/* Footer */

.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 1.1rem;
  text-align: center;
}

.attribution a {
  text-decoration: underline;
  color: hsl(228, 45%, 44%);
}

/*------ media-queries -------*/
@media (min-width: 375px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main #card-recipe__container {
    margin-block: 6rem;
    width: 73.6rem;
    border-radius: 2.5rem;
  }

  /* main img */
  main #card-recipe__container #card-recipe__image {
    margin-top: 4rem;
    margin-inline: 4rem;
  }

  main #card-recipe__container #card-recipe__image img {
    border-radius: 1.5rem;
  }

  main #card-recipe__container #card-recipe__instructions ol {
    margin-left: 2rem;
  }

  /* nutrition__table */
  main #card-recipe__container #card-recipe__nutrition table {
    margin-bottom: 3rem;
  }

  main #card-recipe__container #card-recipe__nutrition th {
    padding-left: 4rem;
  }

  main #card-recipe__container #card-recipe__nutrition td {
    padding-left: 19rem;
  }
}
